.feedback {
    background-color: rgb(8, 64, 168);
    color: white;
    max-width: 200px;
    font-size: 40px;
    text-align: center;
    margin: auto;
    border-radius: 50px;
}

.feedback:hover {
    transform: scale(1.2);
}

footer {
    margin: 30px 30px;
}

@media (max-width: 768px) {
    .feedback {
        font-size: 140%;
        max-width: 20%;
    }
}

@media (max-width: 480px) {
    .feedback {
        font-size: 130%;
    }
}