@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);

* {
    margin: 0;
    padding: 0;
    font-family: "Winky Sans", sans-serif;
    color: rgb(8, 64, 168);
}

body {
    background-color: aquamarine;
    background-image: url('../img/fundo1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    font-size: 14px;
}