@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url(./header-info.css);
@import url(./main-info.css);
@import url(/CSS/menu\ oculto.css);

* {
    font-family: "Winky Sans", sans-serif;
    margin: 0;
    padding: 0;
    font-family: "Winky Sans", sans-serif;
    color: rgb(8, 64, 168);
    box-sizing: border-box;
}

body {
    background-image: url('/img/fundo2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.barras {
    display: block;
}