@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url(/CSS/header.css);


* {
    margin: 0;
    padding: 0;
    font-family: "Winky Sans", sans-serif;
    color: rgb(8, 64, 168);
    box-sizing: border-box;
}

body {
    background-image: url('https://res.cloudinary.com/dyjrn5gjk/image/upload/v1748442107/fundo2_vcquhu.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

a {    
    text-decoration: none;  
}